<header>
  <div class="container">
    <div>
      <a routerLink="/" class="logo">Food Mine!</a>
    </div>
    <nav>
      <ul>
        <li *ngIf="!isAuth">
          <a routerLink="/login">
            Login
          </a>
        </li>
        <li class="menu-container" *ngIf="isAuth">
          <a routerLink="/dashboard">{{user.user.name}}</a>
          <div class="menu">
            <a routerLink="/profile">Profile</a>
            <a routerLink="/orders">Orders</a>
            <a (click)="logout()">Logout</a>
          </div>
        </li>
        <li>
          <a routerLink="/cart-page">
            Cart
            <span *ngIf="this.cartQuantity >= 1">
              {{this.cartQuantity}}
            </span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
